.conteudo-c {
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bloco-c {
    width: 50%;
}

.icon-c {
    width: 1.5em;
    margin-right: 1em;
    cursor: pointer;
}

.icon-link {
    display: flex;
    flex-direction: row;
    padding-top: 1.5em;
}

.icon-link h4 {
    color: #0F270F;
    cursor: pointer;
}

.icon-link h4:hover {
    color: #859479;
    
}

.assinatura label {
    color:#0F270F;
    font-weight: 700;
}

#icon-input-assinar {
    width: 0.95em;
    
}

#input-assinatura {
    background-color: #FFFFFF;
    border: 1px solid #767676;
    color: #37644e;
    padding: 1.25em;
    padding-left: 4em;
    width: 35em;
    border-radius: 0.5em;
    outline: none;
}

#input-assinatura:focus {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}



#botao-enviar {
    background-color: #CF8368;
    border: 1px solid #767676;
    cursor: pointer;
    padding: 1.25em;
    width: 10em;
    border-radius: 0.5em;
}

#input-botao {
    display: flex;
    flex-direction: row;
}

.bloco-c h3{
    color:#0F270F;
}

.redes-sociais {
    margin-top: 2em;
}

.icon-rs {
    width: 2.5em;
    cursor: pointer;
}


.icons-redes-sociais {
    width: 75%;
    /* como alinhar o grid? */
    padding-top: 1em;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 1.5em;
}













footer{
    background-color: #0F270F;
    font-size: 23px;
    padding: 2%;
    margin-top: 3%;
}

footer h2{
    font-family: 'Marcellus SC', serif;
    font-weight: normal;
    text-align: center;
    padding-bottom: 5%;
}

footer ul li{
    list-style: none;
}

.box-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.box-left-footer, .box-rigth-footer{
    font-size: 20px;
}

.box-rigth-footer img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.box-rigth-footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2% 0;
}

.space-list{
    margin-top: 22%;
}