#titulo-nh {
    font-family: 'Marcellus SC', serif;
    margin-bottom: 50px;
    color: #0F270F;
    border-left: 4px solid #859479;
    padding-left: 3px;
    margin-top: 15px;
    font-weight: 400;
}

.divisao-bloco {
    padding-top: 0.75em;
    padding-bottom: 80px;
    margin-left: 2em;
    margin-right: 2em;
}

.titulo-bloco-info {
    font-family: 'Marcellus', serif;
}

.bloco-info-nh {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 60px;
}

.bloco-info-nh p {
    font-size: 22px;
    
}

.bloco-info-nh p, .bloco-info-nh h3 {
    color: #0F270F;
    font-weight: 400;
}

#texto-bloco-info-1 {
    display: flex;
    flex-direction: column;
    width: 43.5%;
    text-align: left;
    
}

#texto-bloco-info-2 {
    display: flex;
    flex-direction: column;
    width: 43.5%;
    text-align: right;
}

#texto-bloco-info-3 {
    display: flex;
    flex-direction: column;
    width: 43.5%;
    text-align: left;
}

.imagem-bloco-info {
    width: 43.5%;
}

.titulo-bloco-info{
    font-size: 1.5em;
}

.responsivo{
    display: none;
}

@media screen and (max-width: 1200px){
    #titulo-nh {
        font-family: 'Marcellus SC', serif;
        margin-bottom: 50px;
        color: #0F270F;
        border-left: 4px solid #859479;
        padding-left: 3px;
        margin-top: 15px;
        font-weight: 400;
    }
    .divisao-bloco{
        margin: 0 2em;
    }

    .bloco-info-nh {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 60px;
    }

    .bloco-info-nh p {
        font-size: 16px;
        
    }

    #texto-bloco-info-1 {
        flex-direction: column;
        width: 100%;
        text-align: justify;
    }

    .responsivo{
        display: block;
    }

    .normal{
        display: none;
    }

    #texto-bloco-info-2 {
        flex-direction: column;
        width: 100%;
        text-align: justify;
    }

    #texto-bloco-info-3 {
        flex-direction: column;
        width: 100%;
        text-align: justify;
    }

    .imagem-bloco-info {
        width: 100%;
    }

    .titulo-bloco-info{
        margin: 1em 0;
        font-size: 20px;
        text-align: center;
    }
}

@media screen and (min-width: 900px) and (max-width: 1200px){
    .imagem-bloco-info {
        width: 70%;
    }
}