* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.container section {
    background-color: #FFFAF7;
    margin: 0.4em;
    padding: 0.4em 0.8em;

}

main span, h3, h4, h5, li {
    color: #000000;
}

#perfil {
    padding: 1em;
}

#perfil-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

#perfil-top img {
    width: 10rem;
}

#perfil-center {
    display: flex;
    flex-direction: column;
}

#perfil-center span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em;
}

#perfil-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
}

.container-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

#minhas-vendas {
    width: 90%;
}

.ver-mais {
    display: flex;
    justify-content: end;
    align-items: center;

    font-size: 0.7em;
    margin-top: 0.4rem;
}

.ver-mais img {
    width: 1%;
    margin-left: 1%;
}


#minhas-vendas h3 {
    margin-bottom: 0.8em;
}

#minhas-vendas #row-2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8em;
}

#minhas-vendas #row-2 li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#minhas-vendas #row-2 img{
    width: 40%;
}

#minhas-vendas #itens {
    background-color: rgba(133, 148, 121, 0.212);
    padding: 0.5em 0.8em;
    box-shadow: 0em 0.2em 0.4em rgba(0, 0, 0, 0.3);
}

#itens aside {
    font-size: 0.8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#button-semear button {
    all: unset;
    
    background-color: #DB8CB1;
    padding: 0.3em;
    border-radius: 1em;
    width: 14em;    
    color: #000000;
    text-align: center;

}

.container-2 {
    display: grid;
    grid-template-areas: "MinhasVendas AdicionarProd"
                        "MinhasVendas ProdCatalogados"
                        "ProdEstoque ProdEstoque";

}

#minhas-vendas {
    grid-area: MinhasVendas;
}

#produtos-catalogados {
    grid-area: ProdCatalogados;
}

#produtos-catalogados div {
    display: flex;
    margin-top: 1rem;
    gap: 1em;

    font-size: 14px;
}

#produtos-catalogados div li {
    display: flex;
    flex-direction: column;

}

#produtos-catalogados div img {
    width: 8rem;
    height: 8rem;
}


#button-adicionarproduto {
    all: unset;
    
    background-color: #9B2D25;
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;

    border-radius: 2em;

    padding: 0.3rem;

    grid-area: AdicionarProd;
    
    width: 90%;
}

#button-adicionarproduto h3 {
    color: #FFFFFF;
    font-weight: lighter;
    margin-left: 5%;

}

#produtos-estoque {
    grid-area: ProdEstoque;
}

#produtos-estoque div {
    display: flex;
    align-items: center;
    gap: 6rem;
}

#produtos-estoque h3 {
    margin-bottom: 1rem;
}

#produtos-estoque div img {
    width: 10rem;
}

#produtos-estoque hr {
    margin: 2rem auto !important;
}

footer li {
    color: #FFFAF7;
}

@media screen and (max-width: 1335px) {

    .container {
        font-size: 16px;
    }

    .container-1 {
        justify-content: flex-start;
    }

    .breadcrumbs {
        font-size: 16px;
    }

    .container-2 {
        display: flex;
        flex-direction: column;
    }

    #button-adicionarproduto {
        margin: 2%;
        width: 40%;
    }

    #produtos-catalogados, #produtos-estoque  {
        width: 90%;
    }
}

@media screen and (max-width: 830px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    #perfil {
        width: 90%;
    }

    #perfil-responsivo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (max-width: 499px) {
    .container-1 {
        display: block;
    }
}