.box-central{
    display: flex;
    flex-direction: row;
}

.barra-lateral{
    width: 27%;
}
.info-breadcrumbs {
    padding-left: 2em;
    padding-top: 0em !important;
}
.barra-lateral span{
    color: black;
}
.barra-lateral h3{
    color: #0F270F;
    font-size: 25px;
    font-weight: normal;
}

.box-filtro{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em 2em;
}
.box-filtro h3{
    color: #0F270F;
    font-size: 35px;
    font-weight: normal;
}

.box-filtro img{
    width: 34px;
}

.box-categorias{
    border-bottom: 1px solid #0F270F;
    border-right: 1px solid #0F270F;
    padding: 1em 0.5em 0em 2em;
}

.box-opcoes{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em 0;
}

.box-categorias ul li{
    color: black;
    list-style: none;
    padding-bottom: 0.5%;
    cursor: pointer;
    font-size: 20px;
}
.box-categorias ul li:hover{
    color: #9B2D25;
}

.avaliacao{
    width: 80px;
}

.box-produtos{
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    width: 73%;
    overflow-y: scroll;
    height: 1800px;
}
.teste{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.box-produtos span, .box-produtos p, .box-produtos h4{
    color: #0F270F;

}
.box-produtos h3, .box-produtos h4{
    font-weight: normal;

}
.box-produtos h4{
    margin-top: 0.5em;
}
.box-titulo h3{
    font-family: 'Marcellus SC', serif;;
    font-size: 35px;
    color: #0F270F;
    padding-left: 1.7em;
}

.box-titulo{
    margin-top: 1em;
}

.box-demonstracao{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5em;
    padding: 1.2em;
    background-color: #D9D9D9;
}

.box-info-produtos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-info{
    display: flex;
    justify-content: space-between;
}

.text-info span, .preco-qtd span{
    font-size: 14px;
    margin: 1em 0;
}
p{
    margin-bottom: 2em;
    margin-top: 0;
    font-size: 10px;
}
.preco-qtd span{
    color: white;
}

.preco-qtd{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.box-preco-qtd{
    isplay: flex;
    align-items: center;
    background-color: #9B2D25;
    width: 48%;
    text-align: center;
    border-radius: 20px;
}
.number{
    width: 30px;
    height: 14px;
    margin-bottom: 10px;
    color: black;
}

.box-button{
    display: flex;
    justify-content: center;
}
button{
    background-color: #9B2D25;
    text-align: center;
    width: 80%;
    border-radius: 20px;
    height: 30px;
    cursor: pointer;
    border: none;
}
button:hover{
    color: black;
}
.botton-lateral{
    background-color: #CF8368;
    text-align: center;
    width: 100%;
    border-radius: 20px;
    height: 50px;
    cursor: pointer;
    border: none;
    margin: 1em 0;
}



@media screen and (max-width: 1024px){
    .box-central{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .barra-lateral{
        width: 40%;
    }

    .barra-lateral span{
        font-size: 12px;
    }

    .barra-lateral h3{
        color: #0F270F;
        font-size: 18px;
        font-weight: normal;
    }

    .box-filtro{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1em 0.5em;
    }

    .box-filtro h3{
        font-size: 28px;
    }

    .box-filtro img{
        width: 24px;
    }

    .box-categorias{
        padding: 1em 0.5em 0em 0.5em;
    }

    .box-opcoes{
        margin: 1em 0;
    }

    .box-categorias ul li{
        font-size: 10px;
    }

    .box-produtos{
        display: flex;
        flex-direction: column;
        padding-left: 0.5em;
        margin-top: 0.5em;
        width: 60%;
        height: 1670px;
    }

    .teste{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .box-produtos h4{
        font-size: 15px;
    }

    .box-titulo h3{
        font-size: 20px;
        padding-left: 0.7em;
    }

    .box-titulo{
        margin-top: 1em;
    }

    .box-demonstracao{
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1.5em auto;
        margin-bottom: 0;
        padding: 1.0em;
    }

    .box-info-produtos{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .box-info-produtos img{
        width: 100%;
    }

    .text-info{
        display: flex;
        justify-content: space-between;
    }

    .text-info span{
        font-size: 10px;
        margin: 1em 0;
    }

    .preco-qtd span{
        font-size: 14px;
        margin: 1em 0;
    }

    p{
        font-size: 8px;
    }

    .preco-qtd{
        flex-direction: column;
    }

    .box-preco-qtd{
        width: 100%;
        margin-bottom: 0.5em;
    }

    button{
        width: 100%;
    }

}


@media screen and (min-width: 751px){
    .box-titulo h3{
        font-size: 25px;
        padding-left: 1.7em;
    }
}

@media screen and (min-width: 600px) and (max-width: 750px){
    .box-titulo h3{
        padding-left: 1.7em;
    }
}





