@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');

.box-central{
    padding: 1em 2em;
}

.box-cards{
    display: flex;
    flex-direction: row;
}

.card-info-vendedor{
    margin-top: 1em;
    width: 50%;
}

.card-info-vendedor img{
    width: 100%;
}

.card-form-vendedor{
    margin-top: 1em;
    width: 50%;
    background-color: white;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 2em;
}

.card-form-vendedor h3{
    text-align: center;
    color: black;
    font-weight: normal;
    margin-top: 1em;
}

.card-form-vendedor form label{
    display: block;
    color: black;
    margin-top: 1em;
}

.form-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.box-form-line{
    width: 100%;
}

.input{
    height: 33px;
    color: black;
    width: 100%;
}

.input-line{
    width: 95%;
    margin-left: 5%;
}

.label-line{
    margin-left: 5%;
}

.input-line-tall{
    height: 33px;
    color: black;
    width: 140%;
}

.label-line-small{
    margin-left: 50%;
}

.input-line-small{
    width: 50%;
    margin-left: 50%;
}



.sobre-submit{
    background-color: #0F270F;
    width: 100px;
    height: 40px;
    cursor: pointer;
    font-size: 16px;
    padding-left: 2%;
    float: right;
    margin-top: 13em;
    border-top-left-radius: 50px;
    
}
.clear{
    clear: both;
}




footer{
    background-color: #0F270F;
    font-size: 23px;
    padding: 2%;
    margin-top: 3%;
}

footer h2{
    font-family: 'Marcellus SC', serif;
    font-weight: normal;
    text-align: center;
    padding-bottom: 5%;
}

footer ul li{
    list-style: none;
}

.box-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.box-left-footer, .box-rigth-footer{
    font-size: 20px;
}

.box-rigth-footer img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.box-rigth-footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2% 0;
}

.space-list{
    margin-top: 22%;
}