@import url('https://fonts.googleapis.com/css2?family=Scada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

html, body {
    font-size: 10px;
    width: 100%;
    max-width: 1366px;
    margin: auto;
    background-color: #efefee;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Scada', 'son-serif';
    color: #FFFFFF;
}

main {
    font-size: 2.3em;
}

.buttons {
    cursor: pointer;
}

.buttons a{
    text-decoration: none;
}

.buttons:hover {
    color: #0F270F;
    border-bottom: 1px solid black;

}

header {
    background-color: #859479;
    padding: 2em 2em 0.1em 2em;
    font-size: 2.3em;
}

.header-top {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 1em;
}

.botoes-vendedor, .botoes-entrar-cadastrar {
    display: flex;
    gap: 2em;
}

.barra-pesquisa {
    position: relative;
    display: inline-block;
}

.barra-pesquisa img {
    position: absolute;
    width: 1em;
    top: 0.4em;
    margin-left: 16em;
    cursor: pointer;
}

#input-pesquisa {
    background-color: #f2f2f2;
    border: none;
    color: #37644e;
    padding: 1em;
    width: 30em;
    border-radius: 2em;
    outline: none;
}

#input-pesquisa:focus {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

/* Remove o botão de limpar ( X ) em campos de input do tipo search */
::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }

#logo {
    width: 200px;
    height: 60px;
}

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* para que os span fiquem com espaços entre eles */
.header-bottom nav {
    display: flex;
    gap: 2em;
}

.header-bottom div {
    display: flex;
    gap: 2em;
}

.header-bottom div img {
  width: 1em;
  cursor: pointer;
}

hr {
    border: none;
    border-top: 1px solid #0f270fbe;
    height: 1px;
    width: 100%;
    margin: 2em auto;
}

.breadcrumbs {
    color: #0F270F;
}

.info-breadcrumbs {
    padding-left: 2em;
    padding-top: 1em;
}

.titulo-font-marcellus {
    font-family: 'Marcellus SC', serif;
    margin-bottom: 50px;
    color: #0F270F;
    border-left: 5px solid #859479;
    padding-left: 10px;
    margin-top: 15px;
}