/*.box-caminho span{
    margin-left: 2em;
    width: 87%;
    color: #0F270F;
}*/
.bloco-1 {
    display:flex;
    flex-direction: column;
    width: 60%;
    gap: 1.5em;
}

.principal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    color: #0F270F;
    margin-top: 2em;
    gap: 1.5em;

}

.bloco-2 {
    display:flex;
    flex-direction: column;
    width: 35%;
    
    
}

/*.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    color: #0F270F;
}*/

.principal-box {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
    background-color: white;
}
.principal-box img{
    width: 50%;
    padding: 1em;
}

.texto {
    text-align: center;
    width: 50%;
    padding-right: 1em;
}

.box h1, .box h2, .box h3, .box h4, .box p, .box li {
    color: #0F270F;
}

#descricao {
    font-size: 16px;
    
    margin-bottom: 1em;
}

.texto h4 {
    font-size: 34px;
    font-weight: normal;
}

.texto h3 {
    font-size: 25px;
    font-weight: normal;
}

#parcelamento {
    font-size: 15px;
}

.buttom {
    width: 90%;
    height: 47px;
    border-radius: 30px;
    border: none;
    margin-bottom: 0.5em;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}

.box button:hover{
    color: black;
}

p {
    font-size: 16px;
}


.flor-parecida {
    background-color: #DBD8CF;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 1em;
    padding-bottom: 1em;
}

.box-card{
    width: 40%
}

.box-card img{
    width: 90%
}

.box-card h3 {
    font-size: 15px;
    font-weight: normal;
    padding: 0;
}

.info {
    background-color: #DBE8D1;
    padding: 1em;
}

.info h3 {
    margin-top: 0;
    margin-bottom: 2px;
    
}

.box-info {
    display:flex;
    flex-direction: row;
    gap: 2em;
    
}

.box-info ul {
    list-style-type: none;
}


.baixo {
    height: 30px;
    font-size: 14px;
    margin: 1em 0 !important;
    background-color: #9B2D25;
}


#titulo {
    padding: 1em 0;
    text-align: left;
    padding-left: 1em;
}

.comentarios {
    background-color: #ffffff;
    padding-left: 1em;
    margin-top: 1em;
    height: 100%;
}

.comentarios h3 {
    color: #0F270F;
    font-weight: normal;
    margin-top: 0.5em;
    text-align: center;
    
}

.comentarios p {
    color: #0F270F;
    font-size:18px;
    width: 100%;
}

#av-geral {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
}

#av-geral p{
    font-size:20px
}

.av-usu {
    margin-bottom: 1em;
}



.clear {
    clear: both;
}

@media screen and (min-width: 921px) and (max-width: 1280px){
    *{
        font-size: 20px;
    }

    .principal {
        width: 80%;
    }
}

@media screen and (max-width: 920px){
    *{
        font-size: 16px;
    }

    .principal-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 2em;
    }

    .primeiro {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0.5em;
        margin-bottom: 1em;
    }
    
    .texto {
        text-align: center;
        width: 100%;
    }

    .principal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
    }

    .info {
        padding-left: 0.4em;
        margin-bottom: 1em;
    }

    .baixo {
        height: 30px;
        font-size: 11px;
        margin: 1.3em 0 !important;
    }

    textarea {
        width: 88%;
    }

    .comentarios h3 {
        margin-top: 1em;
    }
}