.box-caminho span{
    margin-left: 2em;
    width: 87%;
    color: #0F270F;
}

.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    color: #0F270F;
}

.principal-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
}

.box {
    background-color: #DBD8CF;
    border-radius: 20px;
}

.box h1, .box h2, .box h3, .box h4, .box p, .box li {
    color: #0F270F;
}

.primeiro {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    padding: 0.5em;
}

.texto {
    text-align: center;
    width: 40%;
}
#descricao {
    font-size: 16px;
    padding: 0.5em;
}
.texto h4 {
    font-size: 34px;
    font-weight: normal;
}
#parcelamento {
    font-size: 15px;
}



.buttom {
    width: 90%;
    height: 47px;
    border-radius: 30px;
    border: none;
    margin-bottom: 0.5em;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}

.box button:hover{
    color: black;
}

p {
    font-size: 16px;

}

.info {
    padding-left: 0.4em;
}
.info h3{
    font-size: 20px;
    padding-left: 1em;
}
.box-info {
    display: flex;
    flex-direction: row;
    
}
.box-info li{
    list-style-type: none;
    padding: 0.5em 1.2em;
    padding-right: 0.4em;
    font-size: 16px;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.box-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.preco {
    font-size: 12px;
    text-align: left;
}
.parcela {
    font-size: 10px;
    text-align: left;
}
.box-card img {
    width: 100px;
    /* margin: 0 auto; */
}
.box-card h3 {
    font-size: 15px;
    font-weight: normal;
    padding: 0;
    /* padding-left: 1em; */
}
.baixo {
    height: 20px;
    font-size: 8px;
    margin: 1em 0 !important;
}
#titulo {
    padding: 1em 0;
    text-align: left;
    padding-left: 1em;
}

.comentarios {
    background-color: #DBD8CF;
    border-radius: 20px;
    padding-left: 1em;
    margin-top: 1em;
}
.comentarios h3 {
    color: #0F270F;
    font-weight: normal;
    margin-top: 0.5em;
}
textarea {
    width: 90%;
    height: 300px;
    resize: none;
    color: black;
    padding: 1em;
    border-radius: 20px;
    border: none;
    margin-top: 1em;
}

.clear {
    clear: both;
}








footer{
    background-color: #0F270F;
    font-size: 23px;
    padding: 2%;
    margin-top: 3%;
}

footer h2{
    font-family: 'Marcellus SC', serif;
    font-weight: normal;
    text-align: center;
    padding-bottom: 5%;
}

footer ul li{
    list-style: none;
}

.box-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.box-left-footer, .box-rigth-footer{
    font-size: 20px;
}

.box-rigth-footer img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.box-rigth-footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2% 0;
}

.space-list{
    margin-top: 22%;
}