@import url('https://fonts.googleapis.com/css2?family=Scada&display=swap');

html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Scada', 'son-serif';
    color: #FFFFFF;
}

header {
    background-color: #859479;
    padding: 2em;
    font-size: 2.3em;
}

.header-top {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 1em;
}

.botoes-vendedor, .botoes-entrar-cadastrar {
    display: flex;
    gap: 2em;
    cursor: pointer;
}

.barra-pesquisa {
    position: relative;
    display: inline-block;
}

.barra-pesquisa img {
    position: absolute;
    width: 1em;
    top: 0.4em;
    margin-left: 16em;
    cursor: pointer;
}

#input-pesquisa {
    background-color: #f2f2f2;
    border: none;
    color: #37644e;
    padding: 1em;
    width: 30em;
    border-radius: 2em;
    outline: none;
}

#input-pesquisa:focus {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

/* Remove o botão de limpar ( X ) em campos de input do tipo search */
::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }

#logo {
    width: 200px;
    height: 60px;
}

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* para que os span fiquem com espaços entre eles */
.header-bottom nav {
    display: flex;
    gap: 2em;
}

.header-bottom div {
    display: flex;
    gap: 2em;
}

.header-bottom div img {
  width: 1em;
}

hr {
    border: none;
    border-top: 1px solid #0f270fbe;
    height: 1px;
    margin: 2em 0;
}

.carrossel {
    width: 100%;
    margin: 0 auto;
}

.carrossel img {
    height: 20em;
}