@import url('https://fonts.googleapis.com/css2?family=Scada&display=swap');

html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Scada', 'son-serif';
    color: #FFFFFF;
}

.buttons {
    cursor: pointer;
}

.buttons:hover {
    color: #0F270F;
    border-bottom: 1px solid black;
}

header {
    background-color: #859479;
    padding: 2em;
    font-size: 2.3em;
}

.header-top {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 1em;
}

.botoes-vendedor, .botoes-entrar-cadastrar {
    display: flex;
    gap: 2em;
    padding: 0.5em;
}

.barra-pesquisa {
    position: relative;
    display: inline-block;
}

.barra-pesquisa img {
    position: absolute;
    width: 1em;
    top: 0.4em;
    margin-left: 16em;
    cursor: pointer;
}

#input-pesquisa {
    background-color: #f2f2f2;
    border: none;
    color: #37644e;
    padding: 1em;
    width: 30em;
    border-radius: 2em;
    outline: none;
}

#input-pesquisa:focus {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

/* Remove o botão de limpar ( X ) em campos de input do tipo search */
::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }

#logo {
    width: 200px;
    height: 60px;
}

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* para que os span fiquem com espaços entre eles */
.header-bottom nav {
    display: flex;
    gap: 2em;
}

.header-bottom div {
    display: flex;
    gap: 2em;
}

.header-bottom div img {
  width: 1em;
  cursor: pointer;
}

hr {
    border: none;
    border-top: 1px solid #0f270fbe;
    height: 1px;
    width: 80%;
    margin: 2em auto;
}

.carrossel {
    width: 100%;
    margin: 0 auto;
}

.carrossel img {
    height: 20em;
}

main {
    /* padding: 1em; */
    font-size: 2.3em;
    background-color: #efefee;
}

main h3 {
    text-align: center;
}

.text-capslock {
    color: #0F270F;
}

.circulos {
    margin-top: 2em;

    display: flex;
    gap: 3em;
    justify-content: center;
}

.circulos span {
    padding: 0.5em;
    border-radius: 50%;
    display: inline-block;
    width: 2em;
    height: 2em;
}

#circulo1{
    background-color: #BB0707;
}

#circulo2 {
    background-color: #7F1E17;
}

#circulo3 {
    background-color: #7F1E17;
}

#circulo4 {
    background-color: #C46847;
}

#circulo5 {
    background-color: #A9577E;
}

#circulo6 {
    background-color: #B838C8;
}

.produtos-catalogos {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-top: 3em;
}

.produtos-catalogos img {
    width: 6em;
}

.mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    background-color: #859479;

}

#texto-mapa {
    margin-bottom: 2em;
}

.informacoes {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;

    padding: 5em;
}

.informacoes-left li, .informacoes-right li {
    color: #0F270F;
    list-style: none;
    margin-bottom: 2em;
}

.vertical-line {
    transform: rotate(90deg);
    /* rotação de 90 graus */
    height: 100px;
    /* altura desejada da linha vertical */
    margin: 0 auto;
    /* centralizar horizontalmente */
    display: block;
    /* tornar a linha um elemento em bloco */
}

.images-footer {
    display: grid;
    grid-template-columns: auto auto auto;
}

.images-footer div img {
    width: 11em;
    height: 10em;
}

.images-footer div span {
    text-align: center;
    background-color: #859479;
}