.container {
    display: flex;
    margin: 1em 1.5em;
    font-size: 22px;
}

.container section {
    background-color: #FFFAF7;
    margin: 0.4em;
}

main span, a span, h4, h5 {
    color: #000000;
}

#perfil {
    padding: 1em;
}

#perfil-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

#perfil-top img {
    width: 10rem;
}

#perfil-center {
    display: flex;
    flex-direction: column;
}

#perfil-center span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em;
}

#perfil-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
}

#container-2 {
    display: grid;
    grid-template-areas: 
        "MeusPed Fav"
        "MeusPed VistoRec"
        "NavBottom NavBottom";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
}

#meus-pedidos {
    grid-area: MeusPed; 
    padding: 0.4em 0.7em;
    width: 30em;
}

#ver-tudo {
    display: flex;
    justify-content: end;
    align-items: center;

    font-size: 0.7em;
}


/*ANTES ERA #VER-TUDO IMG, PORÉM ERA BOM SE TODAS SETAS FOSSEM DO MESMO TAMANHO,
PORTANTO CRIEI A CLASSE SETA-VER E ADCIONEI TODOAS AS SETAS DE VER MAIS/ VER TUDO*/

.seta-ver {
    width: 0.6em !important;
    height: 0.6em !important; 
}

#meus-pedidos h4 {
    margin-bottom: 0.8em;
}

#meus-pedidos #row-2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8em;
}

#meus-pedidos #row-2 li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#meus-pedidos #row-2 img{
    width: 2em;
}

#meus-pedidos #itens {
    background-color: rgba(133, 148, 121, 0.212);
    padding: 0.5em 0.8em;
    box-shadow: 0em 0.2em 0.4em rgba(0, 0, 0, 0.3);
}

#meus-pedidos aside {
    font-size: 0.8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#favoritos {
    grid-area: Fav;
}

#vistos-recentemente {
    grid-area: VistoRec;
}

#nav-bottom {
    grid-area: NavBottom;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
}

#nav-bottom div {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.cards {
    padding: 0.5em 0.8em;
    display: flex;
    flex-direction: column;
}

.cards div:last-child {
    display: flex;
    justify-content: end;
    align-items: center;

    font-size: 0.7em;
    margin-top: 1em;
}

.cards div:last-child img {
    width: 0.8em;
}

.imagens {
    display: flex;
    justify-content: center;
    gap: 0.5em;

    margin-top: 0.2em;
}

.imagens img {
    width: 2.5em;
    height: 3.5em;
}

@media screen and (max-width: 1335px) {

    .container {
        font-size: 16px;
    }

    .breadcrumbs {
        font-size: 16px;
    }

    #nav-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
}

@media screen and (max-width: 978px) {

    #container-2 {
        display: flex;
        flex-direction: column;
    }

    #perfil-center img, #nav-bottom img{
        width: 22px;
    }
    
    .imagens img{
        width: 70%;
        height: 80%;
        padding-left: 1em;
        padding-right: 1em;
    }

    #nav-bottom span {
        font-size: 12px;
    }
}

@media screen and (max-width: 830px) {
    
    .container {
        flex-direction: column;
        font-size: 16px;
    }

    #perfil-responsivo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    #container-2 {
        display: flex;
        flex-direction: column;
    }

    #meus-pedidos {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 1em;
        
    }

    #meus-pedidos #row-2 {
        justify-content: space-between;
        margin-bottom: 1em;
        font-size: 12px;
    }

    #meus-pedidos #itens span{
        font-size: 11px;
    }

    #itens #icon-seta {
        width: 0.75em;
    }
  
}

@media screen and (max-width: 499px) {

    .container {
        font-size: 14px;
    }

    .breadcrumbs {
        font-size: 14px;
    }

    #perfil-center span {
        font-size: 10px;
    }

    #meus-pedidos #itens span{
        font-size: 8px;
    }

    #perfil-center img, #nav-bottom img{
        width: 18px;
    }

    #nav-bottom span {
        font-size: 8px;
    }

}