.box-produtos-carrinho h3{
    color: #0F270F;
    font-weight: normal;
}

.info-breadcrumbs h1{
    color: black;
}

.box-produtos-carrinho{
    margin: 2em;
}

.box-descricao span{
    color: #0F270F;
}

.box-colunas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1.5em;
}

.box-img{
    background-color: #D9D9D9;
    padding: 1em;
}

.box-descricao h3, .box-descricao span{
    margin: 1em 0;
}

.box-descricao span{
    font-size: 13px;
}

.centro{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.linha{
    border-right: 1px dashed black;
    padding-right: 1em;
    height: 200px;
}

.centro img{
    width: 40px;
}

.box-inputs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-frete{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    margin: 2em 0;
}

.input {
    display: flex;
    flex-direction: row;
    background-color: #859479;
    width: 300px;
    height: 70px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    padding-left: 0.5em;
    border: none;
}

.txt {
    width: 100%;
    height: 70px;
    border-radius: 15px;
    color: black;
}

.box-frete span{
    color: #0F270F;
    margin-right: 1em;
}

.maior {
    width: 500px;
}

.total-compra {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
}

.total-compra button{
    width: 200px;
    height: 40px;
    background-color: #CF8368;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.total-compra p{
    color: #0F270F;
    padding-right: 1em;
}

#botao{
    width: 350px;
}


@media screen and (max-width: 1280px){
    .box-produtos-carrinho h3, .info-breadcrumbs h1{
        font-size: 20px;
    }

   /* .box-descricao span{
        font-size: 10px;
    }

    .box-descricao h3{
        font-size: 14px;
    }*/

.box-colunas{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 1.5em;
}

.box-img{
    background-color: #D9D9D9;
    padding: 1em;
}
.box-img img{
    width: 100%;
}

.box-descricao h3, .box-descricao span{
    margin: 1em 0;
}


.linha{
    border-right: none;
    padding-right: 0;
    height: auto;
}

.centro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box-inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-frete{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin: 2em 0;
 }

.input {
    display: flex;
    flex-direction: row;
    background-color: #859479;
    width: 300px;
    height: 70px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    padding-left: 0.5em;
    border: none;
}

.total-compra {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    justify-content: center;
}

.total-compra p{
    color: #0F270F;
    padding-right: 0;
}

.box-principal {
    width: 70%;
    margin: 0 auto;
}
}

@media screen and (min-width: 1024px) and (max-width: 1280px){
    .box-inputs, .total {
        width: 100%;
    }
    .input {
    display: flex;
    flex-direction: row;
    background-color: #859479;
    width: 500px;
    height: 70px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    padding-left: 0.5em;
    border: none;
}

.total-compra button, #botao{
    width: 500px;
    height: 40px;
    background-color: #CF8368;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}
}

