.box-centro-dados{
    width: 70%;
    background-color: #FFFAF7;
    margin: 0 auto;
}

.titulo{
    color: #859479;
    text-align: center;
    font-weight: normal;
}

.pagamentos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pagamentos label{
    color: black;
    font-weight: bold;
}

.box-exemplos{
    margin: 1em 0.5em;
}

.box-dados{
    width: 80%;
    margin: 0 auto; 
    
}

form{
    border: 1px solid #bbbbbb;
}

.form-centro label{
    color: black;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.form-centro{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

}

.form-line{
    display: flex;
    flex-direction: column;
    margin: 0.5em 1em;
}
.row{
    display: flex;
    flex-direction: row; 
}

.form-line input{
    width: 240px;
    height: 25px;
    color: black;
    padding-left: 1em;
    border: 1px solid #bbbbbb;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}


.form-line .input-100{
    width: 160px;
    margin-right: 2em;
}

.form-line .input-50{
    width: 50px;
}

.box-endereco h3, .box-endereco span{
    color: black;
    
    font-size: 16px;
}

.box-endereco{
    margin-top: 1.5em;
}

.endereco{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.box-endereco span{
    width: 30%;
    margin-top: 0.5em;
}

.box-endereco button{
    width: 20%;
    height: 30px;
    background-color: #9B2D25;
    border: none;
    cursor: pointer;
    margin-left: 1em;
}

.sobre-submit{
    background-color: #0F270F;
    width: 200px;
    height: 40px;
    cursor: pointer;
    font-size: 16px;
    padding-left: 2%;
    float: right;
    border-top-left-radius: 50px;
    
}

.box-endereco h3 {
    font-weight: bold;
}

.clear{
    clear: both;
}


@media screen and (max-width: 1220px) {

    *{
        font-size: 16px;
    }

    .titulo-font-marcellus {
        font-size: 24px;
    }

    .endereco {
        justify-content: space-between;
    }

    .box-endereco button{
        width: 48%;
        height: 30px;
        font-size: 12px;
    }
    
    .form-line .input-100{
        width: 80%;
        margin-right: 0.75em;
    }

    .form-line input {
        width: 100%;
        height: 25px;
    }

    .box-endereco h3, .box-endereco span {
        color: black;
        font-size: 12px;

    }

    .box-endereco {
        margin-bottom: 1em;
    }

    .form-centro{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 95%;
    }

    .row {
        
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (max-width: 830px) {
    .box-centro-dados{
        width: 90%;
        background-color: #FFFAF7;
        margin: 0 auto;
    }
}